[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "nonebot-plugin-access-control"
version = "0.6.4"
description = ""
authors = ["ssttkkl <huang.wen.long@hotmail.com>"]
license = "MIT"
readme = "README.MD"
repository = "https://github.com/bot-ssttkkl/nonebot-plugin-access-control"
packages = [
    { include = "nonebot_plugin_access_control", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.8"
nonebot2 = ">=2.0.0"
nonebot-plugin-datastore = ">=1.0.0"
nonebot-plugin-apscheduler = ">=0.2.0"
nonebot-plugin-session = ">=0.1.0"
shortuuid = ">=1.0.11"
nonebot-plugin-alconna = "^0.24.0"
pytimeparser = "^0.2.0"

nb-cli = { version = ">=1.2.0", optional = true }
ssttkkl-nonebot-utils = {path = "C:/Users/huang/PycharmProjects/ssttkkl-nonebot-utils"}

[tool.poetry.group.dev.dependencies]
nonebot-plugin-datastore = { extras = ["cli"], version = "^1.1.0" }
nonebot-adapter-onebot = "*"
nonebot-adapter-kaiheila = "*"
nonebot-adapter-qqguild = "*"
nonebot-adapter-telegram = "*"
nonebot-adapter-console = "*"
nonebot-adapter-feishu = "*"
asyncpg = "^0.27.0"
setuptools = "^68.1.2"

[tool.poetry.extras]
cli = ["nb-cli"]

[tool.poetry.plugins.nb_scripts]
accctrl = "nonebot_plugin_access_control.script:install"

[tool.nonebot]
plugins = ["nonebot_plugin_access_control"]
plugin_dirs = []
