[tool.poetry]
name = "nonebot-plugin-access-control"
version = "0.4.3"
description = ""
authors = ["ssttkkl <huang.wen.long@hotmail.com>"]
license = "MIT"
readme = "README.MD"
repository = "https://github.com/ssttkkl/nonebot-plugin-access-control"
packages = [
    { include = "nonebot_plugin_access_control", from = "src" },
    { include = "nonebot_plugin_access_control_onebot", from = "src" },
    { include = "nonebot_plugin_access_control_kaiheila", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.9"
nonebot2 = "^2.0.0rc3"
nonebot-plugin-datastore = "^0.6.0a3"
nonebot-plugin-apscheduler = "^0.2.0"
shortuuid = "^1.0.11"


[tool.poetry.group.dev.dependencies]
nonebot-adapter-onebot = "^2.1.5"
nonebot-adapter-kaiheila = "^0.1.0"
nb-cli = "^1.0.5"
asyncpg = "^0.27.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.nonebot]
plugins = ["nonebot_plugin_access_control", "nonebot_plugin_ac_demo"]