[tool.poetry]
name = "nonebot-plugin-access-control"
version = "0.2.3"
description = ""
authors = ["ssttkkl <huang.wen.long@hotmail.com>"]
license = "MIT"
readme = "README.MD"
repository = "https://github.com/ssttkkl/nonebot-plugin-access-control"
packages = [
    { include = "nonebot_plugin_access_control", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.9"
nonebot2 = "^2.0.0rc2"
nonebot-plugin-datastore = "^0.4.0"
nonebot-plugin-apscheduler = "^0.2.0"


[tool.poetry.group.dev.dependencies]
nonebot-adapter-onebot = "^2.1.5"
nonebot-adapter-kaiheila = "^0.1.0"
nonebot-adapter-console = "^0.2.1"
nb-cli = "^0.6.8"
asyncpg = "^0.27.0"
mypy = "^1.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
